body{
  background-color: rgb(239,240,248);
}

#txtlogin{
	text-align: center;
	font-size: 28px;
	font-weight:600;
	color: #ccc;
}

#formlog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  box-shadow: 1px 5px 30px rgb(188,188,195); 
}

li{
  list-style: none;
  color: red;
}