
body{
  background-color: rgb(239,240,248);
}

#txtlogin{
	text-align: center;
	font-size: 28px;
	font-weight:600;
	color: #bbb;
}

#img img{
  width: 120px;
  height: 80px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}

#formlog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  box-shadow: 1px 5px 30px rgb(188,188,195); 
}

#textusuario{
  margin: 8px 0px 15px 0px;
}

#op_discreto{
  color: blue;
}

label{
  font-size: 19px;
}

#formulario input{
  margin: 8px 0px 15px 0px;
}

#formulario button{
  width: 100%;
  margin-top: 15px;
}

span{
  color: red;
}