@media (max-width: 768px) {
  #txtlogin {
    font-size: 19px;
    font-weight: normal
  }

  #formlog {
    background-color: #fff;
    position: static;
    transform: none;
    width: 70%;
    margin: 20px auto;
    box-shadow: 1px 5px 30px rgb(188, 188, 195);
  }

  #head-main h1 {
    font-size: 35px;
  }

  #head-second {
    display: none;
  }

  #head-third {
    display: flex !important;
    align-items: center;
    position: relative;
    top: -20px;
    left: -20px;
    background-color: #dee2e6;
    width: calc(100% + 40px);
    height: 100%;
    line-height: 100%;
    padding: 3px;
    border-bottom: 1px solid #ccc;
  }

  #head-third h5 {
    font-weight: bold;
    font-size: 20px;
    font-family: Bahnschrift Light;
    color: #000;
  }

  .navegacao {
    display: none;
  }

  #container-table {
    position: static;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 35%;
  }

  #editar1,
  #editar2 {
    width: 100%;
    color: white;
  }

  #estado {
    min-width: 120px;
  }

  #margemB {
    margin-bottom: 20px;
  }
  
  .alerta {
    position: static;
    width: 74%;
    height: 110px;
    padding: 25px;
    background-color: #fff;
    margin: 16% auto;
  }

  #image-main {
    position: static;
    width: 100%;
    height: calc(100vh - 21.5%);
    margin: 0;
  }

  #opcMobile {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  .icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    text-align: center;
    line-height: 70px;
  }

  .icon img {
    position: relative;
    display: block;
    font-size: 1rem;
  }

  .title {
    position: relative;
    display: block;
    padding-left: 17px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    color: #fff;
  }

  #navMenu {
    background-color: #05212A;
  }

  #menuMobile {
    display: block;
    margin: auto;
  }

  #menu-mobile {
    transition: 0.4s;
  }

  #img-mobile {
    width: 50px;
    height: 50px;
  }

  #alerta-confirmar {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100%;
    font-size: 17px;
    font-family: Bahnschrift Light;
    z-index: 1;
  }

  #footer {
    clear: none;
    display: block;
    margin-bottom: -10px;
  }

  #footer p {
    margin-bottom: 0px;
  }
}

@media(min-width: 769px) {
  #navMenu {
    display: none;
  }
}

@media(min-height: 650px) and (max-width: 768px) {
  #footer {
    clear: none;
  }
}

@media(max-width: 520px) {
  #head-second > div {
    display: block;
  }

  #container-search {
    margin-top: 22px;
    display: block;
  }

  #container-search #btn-search {
    margin-top: 5px;
  }
}

@media(max-width: 300px) and (max-height: 600px) {
  #table {
    max-height: 300px;
  }
}